$primary-dark-color: #272848;
$primary-grey-color: #8e93a2;
$primary-active-color: #213f5e;
$primary-active-back-color: #f1f6ff;
$second-grey-color: #66657e;
$primary-red-color:#e85757;
$border-grey-color: #c7c7c7;
$background-grey-color: #e9e9e9;
$lightest-purple-color: #f1f6ff;
$active-green-color: #27ae60;
